################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/WinMes/bin/Debug
/WinMes/obj
/sendmessagesendc/.vs/sendmessagec/v16
/sendmessagesendc/Backup
/sendmessagesendc/bin/Debug
/sendmessagesendc/obj/Debug
